---
import Layout from "../layouts/layout.astro";

const url = "https://moviesminidatabase.p.rapidapi.com/movie/byYear/1982/";
const options = {
  method: "GET",
  headers: {
    "X-RapidAPI-Key": "da681a213fmsh08fe42e12c75a5ep139024jsn3c603a1c96c2",
    "X-RapidAPI-Host": "moviesminidatabase.p.rapidapi.com",
  },
};
const respuesta = await fetch(url, options);
const data = await respuesta.json();

console.log(data);
---

<Layout title="Ejercicio5">
  <div>
    <p>
      Consulta: <em
        >Del año en que nació el anterior actor, ¿cuántas películas hay
        registradasen la base de datos?</em
      >
    </p>
  </div>
  <div class="container">
    <p>
      Sabiendo el año de la consulta anterior, pues simplemente buscamos las
      pelis de ese año
    </p>
    <ol>
      {data.results.map((peli) => <li>{peli.title}</li>)}
    </ol>
  </div>
</Layout>

<style>
  div {
    text-align: center;
    align-content: center;
  }

  p {
    color: white;
    font-size: xx-large;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #72788e;
    border-radius: 50px;
    width: fit-content;
    padding: 50px;
    margin: auto;
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
  }
  .container * {
    font-size: x-large;
  }
</style>
