---
interface Props {
    title: string
}
const { title } = Astro.props
let respuesta
---


    <html lang="es">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>
    <body>

      <div>     
        <h1>API Peliculas Francisco 🎬</h1>
        <p class="subtitle">Tarea de las consultas a la API de IMDb</p>
      </div>
      
      <slot />
    
      
    </body>
  </html>


<style>
    body {
      background-color: #17181c;
      font-family: 'NuevaFuente', sans-serif;
    }
    h1 {
      color: white;
      text-align: center;
      font-size: 100px;
      margin-bottom: 0px;
    }
    .subtitle {
      color: white;
      text-align: center;
      font-size: 30px;
      margin-bottom: 100px;
      margin-top: 0px;
      font-style: italic;
    }
  </style>
  